body
{
    margin: 10px;
}
.Table
{
    display: table;
    width: 100%;
    border: solid grey;
    border-width: thin;
    border-radius: 10px;
    overflow: hidden;
}
.Title
{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.Heading
{
    display: table-row;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
.Container
{
    display: flex;
    display: table-cell;
    flex-direction: row;
    border: solid;
    border-width: thin;
}
.Row
{
    display: table-row;
    width: 100%;
}
.TableBody
{
    display: table-row-group;
    width: 100%;
}
.name {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}
.location {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}
.description {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}
.created_by {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}
.users_name {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}
.flexContainer
{
    display: flex;
    flex-direction: row;
}
.Cell
{
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}
.tableTitle
{
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}
p
{
    margin: 5px;
}
.flexContainer
{
    display: flex;
    flex-direction: row;
}
.sortname
{
    flex: 1;
}
.sortlocation
{
    flex: 1;
}
.sortdescription
{
    flex: 1;
}
.sortcreated_by
{
    flex: 1;
}
.sortusers_name
{
    flex: 1;
}
.filtername
{
    flex: 1;
}
.filterlocation
{
    flex: 1;
}
.filterdescription
{
    flex: 1;
}
.filtercreated_by
{
    flex: 1;
}
.filterusers_name
{
    flex: 1;
}
.search
{
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.flexible
{
    flex: 3;
}
